<ng-form name="importContacts">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Import Building Contacts</h4>
            </div>
            <div class="modal-body">
                <div class="legend">Contacts File</div>
                <div class="row">
                    <div class="col-md-12">
                        <div ng-switch="ci.step">
                            <div ng-switch-default>
                                <input type="hidden" ng-model="ci.fileUrl" ng-attr-name="{{ci.fileUrl}}" ng-required="true" />
                                <aws-uploader building="ci.parent.CurrentBuilding" accept=".xls,.csv,.xlsx" folder="files" thumb="false" zoom="false" done="ci.urlsCallback(value)"></aws-uploader>
                            </div>
                            <div ng-switch-when="extract">
                                <h3>Extracting the contacts... <i class="fa fa-spin fa-spinner"></i></h3>
                            </div>
                            <div ng-switch-when="save">
                                <h3>Saving the new contacts... <i class="fa fa-spin fa-spinner"></i></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat-primary btn-ripple" data-dismiss="modal">CANCEL<span class="ripple _3 animate" style="height: 107px; width: 107px; top: -36.5px; left: 8.67188px;"></span></button>
                <button type="button" class="btn btn-flat-primary btn-ripple" ng-show="importContacts.$valid" ng-click="ci.importContacts()">IMPORT</button>
            </div>
        </div>
    </div>
</ng-form>