<ng-form name="addImage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Building Image</h4>
            </div>
            <div class="modal-body">
                <div class="legend">Image Details</div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-3">Description</div>
                            <div class="col-md-9">
                                <div class="inputer">
                                    <div class="input-wrapper">
                                        <textarea class="form-control js-auto-size ng-pristine ng-untouched ng-valid" rows="1" placeholder="Enter Description" style="height: 38px !important;" ng-model="iu.imageDescription" ng-attr-name="{{iu.imageDescription}}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" ng-model="iu.fileUrl" ng-attr-name="{{iu.fileUrl}}" ng-required="true" />
                        <input type="hidden" ng-model="iu.thumbUrl" ng-attr-name="{{iu.thumbUrl}}" ng-required="true" />

                        <aws-uploader building="iu.parent.CurrentBuilding" accept="image/*" folder="images" thumb="true" zoom="false" done="iu.urlsCallback(value)"></aws-uploader>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat-primary btn-ripple" data-dismiss="modal">CANCEL<span class="ripple _3 animate" style="height: 107px; width: 107px; top: -36.5px; left: 8.67188px;"></span></button>
                <button type="button" class="btn btn-flat-primary btn-ripple" ng-show="addImage.$valid" ng-click="iu.saveNewImage()">SAVE</button>
            </div>
        </div>
    </div>
</ng-form>
