<ng-form name="addPlan">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Building Plan</h4>
            </div>
            <div class="modal-body">
                <div class="legend">Details</div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">Name</div>
                            <div class="col-md-9">
                                <div class="inputer">
                                    <div class="input-wrapper">
                                        <textarea class="form-control js-auto-size ng-pristine ng-untouched ng-valid" rows="1" placeholder="Enter Name" style="height: 38px !important;" ng-model="uc.planName" ng-attr-name="{{uc.planName}}" ng-required="true"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">Description</div>
                            <div class="col-md-9">
                                <div class="inputer">
                                    <div class="input-wrapper">
                                        <textarea class="form-control js-auto-size ng-pristine ng-untouched ng-valid" rows="1" placeholder="Enter Description" style="height: 38px !important;" ng-model="uc.planDescription" ng-attr-name="{{uc.planDescription}}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" ng-model="uc.fileUrl" ng-attr-name="{{uc.fileUrl}}" ng-required="true" />
                        <input type="hidden" ng-model="uc.thumbUrl" ng-attr-name="{{uc.thumbUrl}}" ng-required="true" />
                        <input type="hidden" ng-model="uc.zoomUrl" ng-attr-name="{{uc.zoomUrl}}" ng-required="true" />

                        <aws-uploader building="uc.parent.CurrentBuilding" accept="image/*" folder="plans" thumb="true" zoom="true" done="uc.urlsCallback(value)"></aws-uploader>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat-primary btn-ripple" data-dismiss="modal">CANCEL<span class="ripple _3 animate" style="height: 107px; width: 107px; top: -36.5px; left: 8.67188px;"></span></button>
                <button type="button" class="btn btn-flat-primary btn-ripple" ng-show="addPlan.$valid" ng-click="uc.saveNewPlan()">SAVE</button>
            </div>
        </div>
    </div>
</ng-form>